body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: 15% 35% 50%;
}

main {
    margin-left: 20%;
    margin-right: 20%;
}

img {
    max-width: 100%;
}

.logotipo {
    width: 80px;
    height: 55px;
}

.titulo > h2, p {
    margin: 0px;
}

.list-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    color: #3b3b3b;
    gap: 15px;
    margin-left: 30px;
}

svg, .txt-btn {
    size: 20px 20px;
}

.btn-list {
    max-width: 100px;
    max-height: 50px;
}

.container-banner {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    background-color: #275e87;
    border-radius: 4px;
}

.img-banner {
    display: block;
    position: relative;
    max-width: 75%;
}

.menu-banner {
    display: block;
    position: relative;
    max-width: 25%;
}

/* .list-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-size-adjust: 100%;
    max-width: 100%;
    list-style: none;
    gap: 15px;
} */

.link-list-banner {
    display: flex;
    align-items: center;
}

.text-decoration-none {
    text-decoration: none;
    color: #275e87;
}

h4 {
    width: 180px;
    color: #fff;
    padding: 24px;
}

h4 > span {
    padding: 10px;
}

.list-nav-item {
    text-align: center;
}

.link-nav-options {
    text-decoration: none;
    color: #3b3b3b;
}

.link-nav-options > img {
    width: 15px;
}

.link-nav-options > span {
    font-size: 14px;
}

.btn-list-banner {
    text-decoration: none;
}

.img-btn-list-banner {
    max-width: 20px;
    background-color: #275e87;
}

.txt-btn-list-banner {
    background-color: #275e87;
    color: #fff;
    font-size: larger;
    font-weight:bold ;
}

.section-noticias {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#plus-img {
    width: 12px;
    padding-left: 3px;
}

.container-principal {
    display: inline-flex;
    min-width: 100%;
    justify-content: space-between;
}

.container-not-eve-links {
    display: block;
    position: relative;
    justify-content: space-between;
    min-width: 60%;
}

/* Linha vertical que separa Notícias de Eventos/Links Rápidos */
.container-hr-vertical {
    display: block;
    position: relative;
    min-width: 10%;
}

.container-hr-vertical > hr {
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         82.5vh;
    width:          1px;   
}
/* Fim da formatação - Linha vertical que separa Notícias de Eventos/Links Rápidos */

.container-eventos-links {
    display: block;
    position: relative;
    min-width: 30%;
}

.container-eventos-links {
    display: block;
    position: relative;
    max-width: 34%;
}

.list-banner-item {
    list-style: none;
}

/* Formatação dos cards de notícias */
.card {
    margin: 8px;
    width: 45%;
    display: flex;
    flex-direction: column;
    border: 1px rgb(59, 59, 59) solid;
    border-radius: 4px;
}
.img-noticia {
    max-width: 100%;
}
.header-card {
    height: 30%;
    background: rgb(59, 59, 59);
    color: white;
    text-align: center;
}
.container {
    padding: 2px 16px;
}
.posts-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
/* Fim da formatação dos cards de notícias*/

/* Estilo da seção Localização */
.container-localizacao {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dados-ufscar {
    font-size: 1rem;
    font-weight: 400;
    min-width: 25%;
    margin-right: 3px;
}

.list-dados-ufscar {
    list-style: none;
    padding: 0px;
}

.mapa {
    min-width: 65%;
    margin-left: 3px;
}
/* Fim da seção Localização */

/* Estilo da seção Eventos */
.card-eventos {
    text-align: left;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-decoration: none;
}
/* Fim da seção Eventos */

/* Estilo da seção Links Rápidos */
.links-rapidos {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
/* Fim da seção Links Rápidos */
.footer {
    margin: 0px;
    text-align: center;
    padding: 5px 5px;
    background-color: black;
    color: lightgrey;
}